# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.egg-info/
dist/
build/
.venv/
venv/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/*.iml

# Docker
infrastructure/postgres_data/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db